/* Стилізація верхнього колонтитулу */
.header{
    display: flex;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #333;
    align-self: center;
    justify-content: space-around;
    align-items: center;
}

.header div:hover{
    background-color: aquamarine;
}   

.header div:active{
    background-color: blue;
}   

/* Стилізація контейнера і його дітей */
.container {
    display: flex;
}

/* Стилізація бокової колонки */
.main li {
    list-style: none;
    font-size: 35 px;
}

/* Стилізація основного вмісту */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Стилізація нижнього колонтитулу */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

th,tr,table,td{
    border: 1px solid black;
}

img, video{
    max-width: 500px;
}

*{
    margin: 10px;
}

body{
    background-color: rgb(226, 226, 226);
}
